---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Context from '../components/Context.astro';
import Deliverables from '../components/Deliverables.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Context />
    <Deliverables />
  </main>
  <Footer />
</Layout>
